body{
    background-color: lime;
    text-align: center;
}
h1{
    color:fuchsia;
    font-size:20px;
}
h2{
    color:#ff00ff;
    font-size:20px;
}
h3{
    color:fuchsia;
    font-size:20px;
}
h4{
    color:fuchsia;
    font-size:20px;
}
h5{
    color:fuchsia;
    font-size:20px;
}
h6{
    color:fuchsia;
    font-size:20px;
}